<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainFragment">
    <table class="table mt-5">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">SURNAME</th>
            <th scope="col">EXAM</th>
            <th scope="col">MARK</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="st: ${students}">
            <th scope="row" th:text="${st.getId()}"></th>
            <td th:text="${st.getName()}"></td>
            <td th:text="${st.getSurname()}"></td>
            <td th:text="${st.getExam()}"></td>
            <td th:text="${st.getMark()}"></td>
        </tr>
        </tbody>
    </table>
</div>


</html>